<div class="date-changer">
  <div class="full-width"><button mat-raised-button class="position-center" (click)="today()"> Today</button></div>
  <div class="full-width, bottom">
    <button mat-raised-button class="position-left" (click)="oneWeekBackward()"> << 1 week</button> 
    <button mat-raised-button class="position-left" (click)="oneDayBackward()"> < 1 day</button>
    <button mat-raised-button class="position-right" (click)="oneWeekForward()">1 week >></button>
    <button mat-raised-button class="position-right" (click)="oneDayForward()">1 day ></button>
  </div>
</div>